{% extends 'base.html' %}

{% block con %}
    <a class="btn btn-danger" href="/book/add/">新增书籍</a>
    <table class="table">
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>发布日期</th>
            <th>价格</th>
            <th>出版社</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        {% for book in book_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publishDate|date:'Y-m-d' }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.publish.name }}</td>
                <td>
                    {% for author in book.authors.all %}
                        <span>{{ author.name }}</span>
                        {% if forloop.last %}
                        <span></span>
                        {% else %}
                        <span>,</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="/book/{{ book.nid }}/edit/">编辑</a>
                    <a class="btn btn-danger" href="/book/{{ book.nid }}/del/">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

